<br/>
<br/>
<br/>
<br/>
<div class="container">
    <!-- <div class="well">
        Keep items in hereasdfsa
        {{ authContent }}
    </div> -->
    <div class="feed">
        <input type="text" class="form-control searchInput" placeholder="Search"/>
        <button type="submit" class="btn btn-md btn-success searchBtn">Search</button>
        <div class="followBtns">
            <button type="submit" class="btn btn-xs btn-warning searchBtn">Following <b>0</b></button>
            <button type="submit" class="btn btn-xs btn-warning searchBtn">Followers <b>0</b></button>
        </div>
        <br/>
        <div ng-include="contentTab"></div>
    </div>

    <div class= "leftImagePanel">
        <h3>Welcome: FirstName</h3>
        <p><img class="img-circle" src="img/defaultPic.jpg" alt="Generic placeholder image" width="140" height="140"></p>
        <a class="btn btn-success midButton" href="#" data-toggle="modal" data-target="#changePicture">Change Picture</a>
        <a class="btn btn-success midButton" href="#" data-toggle="modal" data-target="#updateSettings">Update Settings</a>
    </div>

    <div class="leftQuickLinksPanel list-group">
        <a href="#" ng-click="showTab('feed')" class="list-group-item" ng-class="feed">Feed</a>
        <a href="#" ng-click="showTab('profile')" class="list-group-item" ng-class="profile">My Profile</a>
        <a href="#" ng-click="showTab('recents')" class="list-group-item" ng-class="recents">Recent Views <span class="badge">0</span></a>
        <a href="#" ng-click="showTab('messages')" class="list-group-item" ng-class="messages">Messages <span class="badge">0</span></a>
    </div>
</div>

<!-- Change Picture -->
<div class="modal fade" id="changePicture" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Change Picture</h4>
            </div>
        <div class="modal-body">
            <form method="post" action="api/uploadPhoto" enctype="multipart/form-data">
              <input type="file" name="myFile" accept="image/*" />
              <button type="button" class="btn btn-default">Upload</button>
            </form>
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Update Settings -->
<div class="modal fade" id="updateSettings" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Update Your Settings</h4>
            </div>
        <div class="modal-body">
        ...
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>